@charset "utf-8";
body{
  background-color: aliceblue;
}
header{
  border-bottom: 10px solid;
}
header > h1 {
  color: brown;
  text-align: center;
}
nav h2{
  color: blueviolet;
}
main ul{
  border: 2px solid 
}
main ul a{
  text-decoration: none;
  
}
h2{
  text-shadow : 1px 1px;
}